body{
  text-align: center;
}
@media(min-width:300px) and (max-width:1024px){
  *{
    margin: 0px;
    padding:0px;
    text-transform: capitalize;
  }
  main > h1{
    background-color: green;
    color: whitesmoke;
    padding: 1rem 0px;
    border-bottom: 0.1rem solid blue;
  }
  main > h3{
    color: blue;
  }
  .box{
    width: 95%;
    height: fit-content;
    background-color: black;
    margin: auto;
    align-content: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
  }
  .btnBox{
    width: 100%;
    display: flex;
  }
  button{
    width:inherit;
    height: 20vh;
    border: none;
    background-color: white;
    outline: none;
  }
  #btn1{
    margin: 0px 0.1rem 0.1rem 0px;
  }
  #btn3{
    margin: 0px 0px 0.1rem 0.1rem;
  }
  #btn4{
    margin: 0px 0.1rem 0.1rem 0px;
  }
  #btn6{
    margin: 0px 0px 0px 0.1rem;
  }
  #btn7{
    margin: 0px 0.1rem 0px 0px;
  }
  #btn9{
    margin: 0px 0px 0px 0.1rem;
  }

  #btn1, #btn2, #btn3, #btn4, #btn5, #btn6, #btn7, #btn8, #btn9{
    font-size: 40px;
  }
  .playerBoxContainer{
    width: 90%;
    height: auto;
    background-color:white;
    display: flex;
    margin: auto;
    box-shadow: 0.1rem 0.1rem 0.2rem green;
  }
  .playerBox{
    width: 50%;
    height: auto;
    padding: 1rem 0px;
    margin: auto;
  }
  .playerBox h3{
    text-transform: uppercase;
  }
  .playerBox p{
    font-weight: bold;
    color:green;
  }
  .newGame{
    width: fit-content;
    height: fit-content;
    padding: 1rem 2rem;
    background-color: blue;
    font-weight: bold;
    color: white;
    margin: auto;
  }
  a{
    text-decoration: none;
    margin: auto;
    color: white;
  }
}